.selectors-form {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
  }
  
  .selector-item {
    padding: 1px 0px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none; /* Prevents text selection */
    margin: 2rem 0;
  }
  
  .selector-item.selected {
    /* background-color: gray; */
    background-color: rgba(238, 240, 231, 0.885);
    border: 1px solid #ccc;
    margin: 0 2px;
  }

  /* selectors-text-section */
  .selectors-text-section{
    background-color: #f3fbff;
    padding: 2rem 1rem;
    width: 100%;
    border-radius: 1rem;
    margin: 1.5rem 0;
    text-align: justify;
    line-height: 1.5rem;
  }

  .no-text-section{
    text-align: center;
  }