.selectors-form {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
  }
  
  .selector-item {
    padding: 1px 0px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none; 
    cursor: default;
  }
  
  .selected {
    background-color: rgba(230, 230, 17, 0.959);
    border: none;
    /* color: white; */
    margin: 0 1.5px;
  }

  .cursor {
    cursor: pointer;
  }
  

  .correct-text-section{
    background-color: #f3fbff;
    padding: 2rem 1rem;
    width: 100%;
    border-radius: 1rem;
    margin: 1.5rem 0;
    text-align: justify;
    line-height: 1.5rem;
  }

  .no-text-section{
    text-align: center;
  }